@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bodoni+Moda&family=Crimson+Text&display=swap');

main{
  display: flex;
  min-height: 100vh;
  color: rgb(39, 39, 39);
  background-color:rgb(247, 240, 223);
  display: flex;
  flex-direction: column;
  width: 90%;
  font-family: 'Amiri', serif;
  /* font-family: 'Crimson Text', serif; */
}

.header-div{
  z-index: 1;
  position: fixed;
  left: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: right;    
    background-color: rgb(247, 240, 223);
    width: 10%;
}

#github-link{
  height: auto;
  width: 42%;
  margin-right: 1.75em;
  
}

#linkedin-link{
  height: auto;
  width: 42%; 

  margin-right: 1.5em;
  margin-top: 1em;

}

#email-link{
  height: auto;
  width: 44%;

  margin-top: 1em;
  margin-right: 1.5em;

}

.stack-item:nth-child(1){
  order: 2;
}

.stack-item:nth-child(2){
  order: 1;
}

.meeting-phrase{
  margin-left: 2%;
  width: fit-content;
  font-size: 3em;
  background-color: rgb(247, 240, 223);
}


.normal-text{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.019em;
  width: 90%;
  margin-left: 3%;
  line-height: 180%;
}

.lujaina-pic{
  margin-top: -15em;
  margin-right: 0.5em;
  height: fit-content;
  margin-bottom: 14em;
  border-radius: 50%;
  width: 6em;
}

.personal-pic img{
  transition: filter 0.3s ease-in-out;
}

.personal-pic:hover img {
  filter: blur(10px);
}

.personal-pic::before {
  content: attr(data-text);
  color: rgb(15, 15, 15);
  font-weight: bold;
  top: -40%;
  left: 0;
  width: 100%;
  display: flex;
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 500;
  transition: opacity 0.3s;
}

.personal-pic:hover::before {
  opacity: 1;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 1.5s forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

.heading-label{
  font-size: 3em;
    padding-top: 15%;
}

.navbar{
  background-color: rgb(247, 240, 223);
  height: fit-content;
  width: max;
  display: flex;
}

.intro{
  display: flex;
  flex-direction: flex-start;
  margin-left: 20px;
}

.nav-list{
  list-style-type: style none;
  width: fit-content;
  display: relative;
  margin-left: 30%;
  margin: 2;
  margin-top: -0.25%;
}

.nav-list li{
  display: inline-block;
  transition:0.5s;
}

.nav-list li a{
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 1.5em;
  padding-top: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  display: block;
  font-weight: 500;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  transition:0.5s;
}

.nav-list:hover li a{
  transform:scale(1.5);
  opacity:0.2;
  filter:blur(5px);
}

.nav-list li a:hover{
  transform:scale(2);
  opacity:1;
  filter:blur(0);
  text-decoration:none;
  color:#7b7b7b;
}

.nav-list li a:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#ff497c;
  transition:0.5s;
  transform-origin:right;
  transform:scaleX(0);
  z-index:-1;
}

.navlist li a:hover:before{
  transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

.tv{
  align-items: center;
  width: 750px;
  height: 700px;
  margin-left: 14%;
  object-fit: none;
  pointer-events: none;
}


/* .typewriter{
  display: inline-block;
  white-space: nowrap;
  animation-name: typewriter;
  animation-duration: 3s;
  animation-timing-function: steps(28) 1;
  animation-iteration-count: 1;
  width: 100%;
}

@keyframes typewriter{
  from {width: 0;}
  to {width: 100%;}
} */