.application-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .square-component {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 2%;
    overflow: hidden;
    margin: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .8);
  }
  
  .square-component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .translucent-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    color: #fff;
    opacity: 0.9;
    z-index: 999;
    transition: opacity 0.3s;
    cursor: pointer;
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }
  
  .translucent-window.active {
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }
  
  .container-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 998; /* Ensure the overlay is behind the translucent window */
    opacity: 0;
    pointer-events: none; /* Disable pointer events on the overlay */
    transition: opacity 0.3s;
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }
  
  .container-overlay.active {
    opacity: 1; /* Make the overlay fully visible */
    pointer-events: auto; /* Enable pointer events on the overlay */
    backdrop-filter: blur(5px); /* Apply the blur effect */
  }

.app-title{
    text-align:center;
    margin-top: -2%;
    font-size: 2.5em;
}

.app-description{
    text-align:center;
    font-size: 1.25em;
}

.app-link{
    text-align:center;
    padding: 2%;
    background-color:rgba(253, 216, 154);
    border-radius: 1%;
    margin-left: 35%;
    border-radius: 5%;
}

.app-tech{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color:rgb(152, 156, 130)
}